@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgba(14, 14, 14, 1);
}
/* nav section design */
nav> ul{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    margin-right: 110px;
    margin-left: 110px;
    padding: 15px;
    height: 50px;
    list-style: none;
}
nav li>a{
    text-decoration: none;
}
.nav-bn{
    font-size: 24px;
    font-weight: 700;
}
nav a>button{
    padding: 10px;
    height: 35px;
    border: 2px solid rgba(0, 106, 80, 1) ;
    color: rgba(0, 106, 80, 1);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hero section design */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin: 10px 110px;
    padding: 50px 40px;
    background: rgba(198, 228, 214, 1);
    border-radius: 10px;
}
#hero-p1{
    color: rgba(14, 14, 14, 0.5);
    font-size: 16px;
    font-weight: 500;
}
#hero-p2{
    margin-top: 10px;
    font-size: 39px;
    font-weight: 700;
}
#hero-btn{
    margin-top: 20px;
    width: 250px;
    height: 40px;
    color: white;
    font-weight:600 ;
    display: flex;
    align-items: center;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    border: none;
}

/* pillars section design */
.pillars{
    display: flex;
    margin: 40px 110px;
    flex-direction: column;
    padding: 10px;
    
}
.pillars h4{
    padding-bottom: 2px;
    font-size: 30px;
    font-weight: 700;
}
.pillars h5{
    padding-bottom: 10px;
    margin: 5px 2px;
    font-size: 18px;
    font-weight: 700;
}
.pillars img{
    padding: 2px;
    width: 50px;
}
.pillars-layout{
    display: flex;
    justify-content: space-around;

}
.pillars-design{
    border-radius: 8px;
    padding: 10px;
    width:195px;
    height:160px;
    background-color: white;
}

/* future-vision design */
.future-vision{
    display: flex;
    flex-direction: column;
    margin: 10px 110px;
}
.future-vision > h3{
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    
}
.future-vision > p {
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}
.future-vision > div{
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}
.future-vision-layout{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}
.future-vision-design{
    
    width: 32%;
    height: 250px;
    padding: 15px;
    border-radius: 8px;
}
.future-vision-design button{
    padding: 5px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
}
.future-vision-design img{
    padding: 5px;
    width: 50px;
}
.future-vision-design h5{
    padding: 5px;
    font-size: 18px;
}
.future-vision-design p{
    padding: 5px;
    font-size: 16px;
}
.future-vision-yunus{
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


